@using CigoWeb.Core.Helpers;

@page "/"

<MudForm @ref="_form" Model="_model" Validation="@(_validationRules.ValidateValue())" Class="@(_loading ? "cursor-wait" : "")">

    <div class="create-edit-page">

        @if (!string.IsNullOrWhiteSpace(_error))
        {
            <MudAlert Severity="MudBlazor.Severity.Error" Class="mb-4">@_error</MudAlert>
        }

        <CreateEditFormActions CanChangeIsActive="@(Id > 0)"
                               @bind-IsActive="_model.IsActive"
                               OnCancel="Cancel"
                               OnSubmit="Submit"
                               Loading="_loading"
                               Title="@(Id == 0?_localizer["Vehicle_Title_Create_New_Vehicle"]: _localizer["Vehicle_Title_Update_New_Vehicle"])" />

        @* Primary Information *@
        <MudCard Class="custom-card mb-6">

            <MudCardContent>

                @* Primary Information : Title *@
                <div>
                    <MudText Typo="Typo.h4" Inline="true" Class="ce-section-title">@_localizer["CreateEditEmployee_Title_PrimaryInformation"]</MudText>
                </div>

                @* Name, Type,License Plate,Reference ID *@
                <MudGrid Class="mt-4" Spacing="4">

                    @* Name *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles.Columns.Name"] </b>
                                <span class="ce-required">*</span>
                            </MudText>

                            <MudTextField @bind-Value="_model.Name"
                                          For="@(()=>_model.Name)"
                                          Placeholder="@_localizer["Vehicles_PlaceHolder_Name"]"
                                          Variant="Variant.Outlined"></MudTextField>

                        </div>

                    </MudItem>

                    @* Type *@
                    <MudItem xs="3">

                        <div>

                            <MudText Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles.Columns.Type"]</b>
                            </MudText>

                            <MudSelect Class="ce-label" T="VehicleType" @bind-Value="_model.Type">

                                @foreach (var item in Enum.GetValues<VehicleType>())
                                {
                                    <MudSelectItem Value="item">
                                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                                            <span class="@item.GetIconClass("default-icon") icon"></span>
                                            <span>@item.GetDescription()</span>
                                        </MudStack>
                                    </MudSelectItem>
                                }

                            </MudSelect>

                        </div>

                    </MudItem>

                    @* License Plate *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles.Columns.LicensePlate"] </b>
                            </MudText>

                            <MudTextField @bind-Value="_model.LicensePlate"
                                          For="@(()=>_model.LicensePlate)"
                                          Placeholder="@_localizer["Vehicles_PlaceHolder_License_Plate"]"
                                          Variant="Variant.Outlined"></MudTextField>

                        </div>

                    </MudItem>

                    @* Reference ID *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles.Columns.ReferenceId"] </b>
                            </MudText>

                            <MudTextField @bind-Value="_model.VehicleRefId"
                                          For="@(()=>_model.VehicleRefId)"
                                          Placeholder="@_localizer["Vehicles_PlaceHolder_Reference_ID"]"
                                          Variant="Variant.Outlined"></MudTextField>

                        </div>

                    </MudItem>

                </MudGrid>

                @* Weight, Volume, Buffer, Departure *@
                <MudGrid Class="mt-4" Spacing="4" Justify="Justify.Center">

                    @* Weight Capacity *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Weight_Capacity_Title"] </b>
                            </MudText>

                            <MudNumericField HideSpinButtons="true"
                                             @bind-Value="_model.WeightCapacityLbs"
                                             For="@(()=>_model.WeightCapacityLbs)"
                                             Label=""
                                             Placeholder="@_localizer["Vehicles_Weight_Capacity_PlaceHolder"]"
                                             Variant="Variant.Outlined"
                                             Adornment="Adornment.End"
                                             AdornmentText="lbs"
                                             AdornmentColor="Color.Info" />
                        </div>

                    </MudItem>

                    @* Volume Capacity *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Volume_Capacity_Title"]</b>
                            </MudText>

                            <MudNumericField T="decimal?"
                                             HideSpinButtons="true"
                                             @bind-Value="_model.VolumeCapacityFt3"
                                             For="@(()=>_model.VolumeCapacityFt3)"
                                             Placeholder="@_localizer["Vehicles_Volume_Capacity_PlaceHolder"]"
                                             Variant="Variant.Outlined"
                                             Adornment="Adornment.End"
                                             AdornmentText="ft"
                                             AdornmentColor="Color.Info" />

                        </div>

                    </MudItem>

                    @* Capacity Buffer *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Capacity_Buffer_Title"]</b>
                            </MudText>

                            <MudNumericField HideSpinButtons="true"
                                             @bind-Value="_model.CapacityBufferPercent"
                                             For="@(()=>_model.CapacityBufferPercent)"
                                             Placeholder="@_localizer["Vehicle_Buffer_PlaceHolder"]"
                                             Variant="Variant.Outlined"
                                             Adornment="Adornment.End"
                                             AdornmentText="%"
                                             AdornmentColor="Color.Info" />

                        </div>

                    </MudItem>

                    @* Departure Time *@
                    <MudItem xs="3">

                        <div>

                            <SelectTime @bind-Time="_model.DepartureTime"
                                        ForTime="@(()=>_model.DepartureTime)"
                                        Title="@_localizer["Vehicles_Departure_Time_Title"]"
                                        Required="true" />

                        </div>

                    </MudItem>

                </MudGrid>

                @* Work time, start from, return to, default operators *@
                <MudGrid Class="mt-4" Spacing="4" Justify="Justify.Center">

                    @* Maximun Work Time *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Columns_MaxWorkTime"] </b>
                            </MudText>

                            <MudStack Spacing="0" Row="true">

                                <MudNumericField HideSpinButtons="true"
                                                 Pattern="[0-9]*"
                                                 @bind-Value="_model.WorkTimeHours"
                                                 For="@(()=>_model.WorkTimeHours)"
                                                 Class="ce-label"
                                                 AdornmentText="hr"
                                                 Adornment="Adornment.End"
                                                 AdornmentColor="Color.Info"
                                                 Variant="Variant.Outlined" />

                                <MudNumericField HideSpinButtons="true"
                                                 @bind-Value="_model.WorkTimeMinutes"
                                                 Pattern="[0-9]*"
                                                 For="@(()=>_model.WorkTimeMinutes)"
                                                 Class="ce-label"
                                                 AdornmentText="min"
                                                 Adornment="Adornment.End"
                                                 AdornmentColor="Color.Info"
                                                 Variant="Variant.Outlined" />

                            </MudStack>

                            <p class="ce-grey-text ">
                                @_localizer["Vehicles_Maximun_Work_Time_Helper_Text"]
                            </p>

                        </div>

                    </MudItem>

                    @* Start From *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Start_From_Column"]</b>
                                <span class="ce-required">*</span>
                            </MudText>

                            <MudTextField T="string"
                                          Placeholder="@_localizer["Vehicles_Start_From_PlaceHolder"]"
                                          Variant="Variant.Outlined"
                                          Disabled="true"></MudTextField>

                            <p class="ce-grey-text ">
                                @_localizer["Vehicles_Start_From_Helper_Text"]
                            </p>

                        </div>

                    </MudItem>

                    @* Return To *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Return_To_Column"]</b>
                                <span class="ce-required">*</span>
                            </MudText>

                            <MudTextField T="string"
                                          Placeholder="@_localizer["Vehicles_Return_To_PlaceHolder"]"
                                          Variant="Variant.Outlined"
                                          Disabled="true"></MudTextField>

                            <p class="ce-grey-text ">
                                @_localizer["Vehicles_Return_To_Helper_Text"]
                            </p>
                        </div>

                    </MudItem>

                    @* Default Operators *@
                    <MudItem xs="3">

                        <div>

                            <MudText Class="ce-label" Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Vehicles_Default_Operators_Column"] </b>
                            </MudText>

                            <MudSelect T="string"
                                       @bind-Value="_model.LicensePlate"
                                       Placeholder="Nothing selected"
                                       Variant="Variant.Outlined"
                                       Disabled="true">
                            </MudSelect>

                            <p class="ce-grey-text ">
                                @_localizer["Vehicles_Default_Operators_Helper_Text"]
                            </p>

                        </div>

                    </MudItem>

                </MudGrid>

                @* Schedule Break Blocks *@
                <MudGrid Class="mt-4" Spacing="4" Justify="Justify.FlexStart">

                    @* Schedule Break Blocks *@
                    <MudItem xs="6">

                        <div>

                            <MudText Align="Align.Left" Class="ce-label">
                                <b>@_localizer["Vehicles_Schedule_Break_Blocks"] </b>
                            </MudText>

                            <p class="ce-grey-text ">
                                @_localizer["Vehicles_Schedule_Break_Blocks_Helper_Text"]
                            </p>

                        </div>

                    </MudItem>

                </MudGrid>

                @* Start Time, Duration *@
                <MudGrid Class="mt-4" Spacing="4" Justify="Justify.FlexStart">

                    @* Start Time *@
                    <MudItem xs="3">

                        <MudStack Spacing="1">

                            <MudText Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Start_Time"] </b>
                            </MudText>

                            <MudSelect T="string"
                                       Style="border-radius: 2px; border: 0.25px dashed #A5A5A5;"
                                       Class="ce-helper-text"
                                       @bind-Value="_model.LicensePlate"
                                       Placeholder="8:00 am"
                                       Variant="Variant.Outlined"
                                       Disabled="true">
                            </MudSelect>

                            <MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center" Class="ml-n4">

                                <MudSwitch T="bool" Size="Size.Large" Class="ma-0 pa-0" />

                                <MudText Class="ml-2 pt-1" Typo="Typo.subtitle2">
                                    @_localizer["Flexible_Time_Windows"]
                                </MudText>

                            </MudStack>

                        </MudStack>

                    </MudItem>

                    @* Duration *@
                    <MudItem xs="3">

                        @* Title *@
                        <MudStack Spacing="1">

                            <MudText Align="Align.Left" Typo="Typo.subtitle2">
                                <b>@_localizer["Duration"] </b>
                            </MudText>

                        </MudStack>

                        @* Duration input and + button*@
                        <MudStack Spacing="1">

                            <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                                <MudTextField T="string"
                                              Class="ce-helper-text"
                                              Style="padding-top:6px;border-radius: 2px; border: 0.25px dashed #A5A5A5;"
                                              Placeholder="@_localizer["Enter_Duration_Time"]"
                                              Variant="Variant.Outlined"></MudTextField>
                                <MudFab Color="Color.Success" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add" IconSize="Size.Large" />
                            </MudStack>

                        </MudStack>

                    </MudItem>

                </MudGrid>

            </MudCardContent>

        </MudCard>

        @* EndSection: Vehicle types *@
        <MudPaper class="ce-section-group">

            <MudText Align="Align.Start" Typo="Typo.h4" Class="ce-section-title">@_localizer["Vehicle_Types"]</MudText>

            <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="ce-section-group-container">

                @* Points *@
                <MudGrid Class="ce-section-group-inputs" Spacing="8">

                    <!-- COLUMN 1 -->
                    <MudStack Style="flex:1" Spacing="4">

                        @* Car  🚗 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/car.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">
                                @_localizer["VehicleType_Car"]
                            </MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@_localizer["VehicleType_Car_Text"]</li>
                            <li>@((MarkupString)_localizer["VehicleType_Car_Text2"].Value)</li>

                        </ul>

                        @* Car Enhanced 🚗 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/greenCar.svg" class="ce-section-group-icon" />

                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_CarEnhanced"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_CarEnhanced_Text"].Value)</li>
                            <li>@((MarkupString)_localizer["VehicleType_CarEnhanced_Text2"].Value)</li>
                        </ul>

                        @* Small Truck 🚚 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/small-truck.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_SmallTruck"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_SmallTruck_Text1"].Value)</li>
                            <li>@((MarkupString)_localizer["VehicleType_SmallTruck_Text2"].Value)</li>
                        </ul>
                        <table class="ce-spec-grid">

                            <tbody>

                                <tr>
                                    <td>Height</td>
                                    <td>2.7m</td>
                                    <td>8.9ft</td>
                                </tr>

                                <tr>
                                    <td>Width</td>
                                    <td>2 - 2.4m</td>
                                    <td>6.6 - 7.9ft</td>
                                </tr>

                                <tr>
                                    <td>Length</td>
                                    <td>5.5m</td>
                                    <td>18ft</td>
                                </tr>

                                <tr>
                                    <td>Weight</td>
                                    <td>2080 - 3480 kg</td>
                                    <td>4586 - 7672 lbs</td>
                                </tr>

                            </tbody>

                        </table>

                    </MudStack>

                    <!-- COLUMN 2 -->
                    <MudStack Style="flex:1" Spacing="4">

                        @* Small Truck Enhanced 🚛 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/greenSmalTruck.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_SmallTruckEnhanced"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_SmallTruckEnhanced_Text1"].Value)</li>
                            <li>@((MarkupString)_localizer["VehicleType_SmallTruckEnhanced_Text2"].Value)</li>
                        </ul>

                        @* Truck 🚛 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/small-truck.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_Truck"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_Truck_Text1"].Value)</li>
                            <li>@((MarkupString)_localizer["VehicleType_Truck_Text2"].Value)</li>
                        </ul>
                        <table class="ce-spec-grid">

                            <tbody>

                                <tr>
                                    <td>Height</td>
                                    <td>2.7m</td>
                                    <td>8.9ft</td>
                                </tr>

                                <tr>
                                    <td>Width</td>
                                    <td>2 - 2.4m</td>
                                    <td>6.6 - 7.9ft</td>
                                </tr>

                                <tr>
                                    <td>Length</td>
                                    <td>5.5m</td>
                                    <td>18ft</td>
                                </tr>

                                <tr>
                                    <td>Weight</td>
                                    <td>2080 - 3480 kg</td>
                                    <td>4586 - 7672 lbs</td>
                                </tr>

                            </tbody>

                        </table>

                        @* Scooter  🚗 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/scooter.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">
                                @_localizer["VehicleType_Scooter"]
                            </MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@_localizer["VehicleType_Scooter_Text1"]</li>
                            <li>@_localizer["VehicleType_Scooter_Text2"]</li>
                        </ul>

                    </MudStack>

                    <!-- COLUMN 3 -->
                    <MudStack Style="flex:1" Spacing="4">

                        @* On Foot 🚶 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/on-foot.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_OnFoot"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_OnFoot_Text"].Value)</li>
                        </ul>

                        @* Road Bike 🚗 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/road-bike.svg" class="ce-section-group-icon" />

                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_RoadBike"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleTypes_RoadBike_Text"].Value)</li>
                        </ul>

                        @* Urban bike 🚚 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/urban-bike.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_UrbanBike"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_UrbanBike_Text"].Value)</li>
                        </ul>

                        @* Mountain Bike 🚵 *@
                        <div class="ce-section-group-header">
                            <img src="/assets/vehicle-types/mountain-bike.svg" class="ce-section-group-icon" />
                            <MudText Typo="Typo.h6" Class="ce-section-group-title">@_localizer["VehicleType_MountainBike"]</MudText>
                        </div>
                        <ul class="ce-section-group-list">
                            <li>@((MarkupString)_localizer["VehicleType_MountainBike_Text"].Value)</li>
                        </ul>

                    </MudStack>

                </MudGrid>

            </MudContainer>

        </MudPaper>

    </div>

</MudForm>
