@if (!string.IsNullOrEmpty(Title))
{
    <MudText Align="Align.Left" Typo="Typo.subtitle2">
        <b>@Title</b>
        <span class="ce-required">*</span>
    </MudText>
}

<MudSelect T="TimeOnly" Value="@Time" For="@ForTime" ValueChanged="HandleTimeChanged">

    @foreach (var option in TimeHelper.GenerateTimeOptions(IntervalMinutes))
    {
        <MudSelectItem Value="@option.Value">
            @option.Display
        </MudSelectItem>
    }

</MudSelect>

@code {

    [Parameter] public int IntervalMinutes { get; set; } = 15;

    [Parameter] public required string Title { get; set; } = string.Empty;

    #region Time Functionality
    [Parameter] public TimeOnly Time { get; set; } = new TimeOnly(8, 0);

    [Parameter] public EventCallback<TimeOnly> TimeChanged { get; set; }

    [Parameter] public required Expression<Func<TimeOnly>> ForTime { get; set; }

    public async Task HandleTimeChanged(TimeOnly value)
    {
        if (Time == value)
            return;

        Time = value;

        await TimeChanged.InvokeAsync(Time);
    }
    #endregion

}
