
<div>
	<MudCard Class="@CardClass">
		<MudCardContent>
			<div>
				<MudText Typo="Typo.h4" Inline="true" Class="ce-section-title">@Localizer["Shared.LoginCredentials.Section.Title"]</MudText>
			</div>

			@* Login Email *@
			<MudGrid Class="mt-4" Spacing="4">
				<MudItem xs="5">
					<div>
						<MudText Align="Align.Left" Class="ce-label">
							<b>@Localizer["Shared.LoginCredentials.Label.Email"]</b>
							<span class="ce-required">*</span>
						</MudText>

						<MudTextField Value="@LoginEmail"
									  ValueChanged="HandleLoginEmailChangedAsync"
									  T="string"
									  For="ForLoginEmail"
									  Placeholder="@Localizer["Shared.LoginCredentials.Placeholder.Email"]"
									  Variant="Variant.Outlined" />
					</div>
				</MudItem>
			</MudGrid>

			@* Password, Confirm Password *@
			<MudGrid Class="mt-4" Spacing="4">
				@* Password *@
				<MudItem xs="5">
					<div>
						<MudText Align="Align.Left" Class="ce-label">
							<b>@Localizer["Shared.Password.Label.Password"]</b>
							<span class="ce-required" hidden="@(!Required)">*</span>
						</MudText>

						<MudTextField Value="@Password"
									  ValueChanged="HandlePasswordChangedAsync"
									  T="string"
									  For="ForPassword"
									  DebounceInterval="150"
									  Placeholder="@Localizer["Shared.Password.Label.Password"]"
									  Variant="Variant.Outlined"
									  InputType="@_passwordVis.InputType"
									  Adornment="Adornment.End"
									  AdornmentIcon="@_passwordVis.Icon"
									  OnAdornmentClick="(() => TogglePasswordVisibility(false))"
									  Immediate="true" />

						<MudProgressLinear hidden="@(string.IsNullOrWhiteSpace(Password))"
										   Class="my-6"
										   Rounded="true"
										   Size="Size.Medium"
										   Value="_passwordStrength.Value"
										   Color="_passwordStrength.Color" />

						<ul class="ce-helper-text-list">
							<li><MudText Typo="Typo.caption" Class="ce-helper-text">@Localizer["Shared.Password.Helper.MinimumLength"]</MudText></li>
							<li><MudText Typo="Typo.caption" Class="ce-helper-text">@Localizer["Shared.Password.Helper.LengthRecommendation"]</MudText></li>
							<li><MudText Typo="Typo.caption" Class="ce-helper-text">@Localizer["Shared.Password.Helper.ComplexityRecommendation"]</MudText></li>
						</ul>
					</div>
				</MudItem>

				@* Confirm Password *@
				<MudItem xs="5">
					<div>
						<MudText Align="Align.Left" Class="ce-label">
							<b>@Localizer["Shared.Password.Label.ConfirmPassword"]</b>
							<span class="ce-required" hidden="@(!Required)">*</span>
						</MudText>

						<MudTextField Value="@ConfirmPassword"
									  ValueChanged="HandleConfirmPasswordChangedAsync"
									  T="string"
									  For="ForConfirmPassword"
									  DebounceInterval="150"
									  Placeholder="@Localizer["Shared.Password.Label.ConfirmPassword"]"
									  Variant="Variant.Outlined"
									  InputType="@_confirmPasswordVis.InputType"
									  Adornment="Adornment.End"
									  AdornmentIcon="@_confirmPasswordVis.Icon"
									  OnAdornmentClick="(() => TogglePasswordVisibility(true))"
									  AdornmentAriaLabel="@Localizer["Shared.Password.AriaLabel.ToggleVisibility"]" />
					</div>
				</MudItem>
			</MudGrid>
		</MudCardContent>
	</MudCard>
</div>