
<MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">

    <p class="@TitleClass">
        @Title
    </p>

    <MudStack Row="true" Spacing="4" AlignItems="AlignItems.Center">

        <MudSwitch Disabled="@(Id == 0)"
                   T="bool"
                   Value="@Deactivate"
                   ValueChanged="HandleDeactivateChanged"
                   Color="Color.Info"
                   UncheckedColor="Color.Default" />

        <MudText Typo="Typo.subtitle1" Class="deactivateText">@_localizer["Deactivate_Switch"]</MudText>

        <MudButton Variant="Variant.Outlined"
                   Size="Size.Large"
                   OnClick="OnCancel">
            @_localizer["Cancel"]
        </MudButton>

        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Save"
                   Disabled="@Loading"
                   Class="@(Loading ? "cursor-not-allowed" : "")"
                   Color="Color.Info"
                   Size="Size.Large"
                   OnClick="OnSubmit">
            @_localizer["Save"]
        </MudButton>

    </MudStack>

</MudStack>

@code {


    [Parameter] public int Id { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }

    [Parameter] public bool Deactivate { get; set; }
    [Parameter] public EventCallback<bool> DeactivateChanged { get; set; }

    [Parameter] public required string Title { get; set; }

    [Parameter] public string? TitleClass { get; set; } = "ce-actions-title";

    [Parameter] public bool Loading { get; set; }

    private async Task HandleDeactivateChanged(bool value)
    {
        if (Deactivate == value)
            return;

        Deactivate = value;

        await DeactivateChanged.InvokeAsync(Deactivate);
    }
}
